<div class="body" style="margin-left: 10px;">
  <div *ngFor="let data of noticeData">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{ data.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ data.category }}</h6>
        <p class="card-text">{{ data.description }}</p>
        <p class="card-text">{{ data.date | date:'short' }}</p>
        <a [routerLink]="['/app-notice-details',data._id]">More Info</a>
      </div>
    </div>
  </div>    
</div>

